.App {
  text-align: center;
}
.trans{
  border: 4px solid black;
  background-color: rgb(18, 64, 138);
  width: 250px;
  height: 200px;
  margin: 200px auto;
  color: #ffff;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  transform:rotate(45deg);
  /* transform:scaley(2);
  transform:skewx(20deg); */
                        /* width,height */
  /* transform:translatex(50px); */
  /* transform: matrix([scalex],[skewy],[skewx],[scaley],[translatex],[translatey]); */
  /* transform: matrix(2,1,1,2,70,-10); */
  padding:10px;
}
.trans:hover{
  cursor: pointer;
  transition: all 2s linear;
  transform: rotateY(360deg)
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
