.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding : 20px; */
}
.trans{
  border: 4px solid black;
  background-color: rgb(18, 64, 138);
  width: 150px;
  height: 100px;
  margin: 100px auto;
  color: #ffff;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  transform:rotate(45deg);
  /* transform:scaley(2);
  transform:skewx(20deg); */
                        /* width,height */
  /* transform:translatex(50px); */
  /* transform: matrix([scalex],[skewy],[skewx],[scaley],[translatex],[translatey]); */
  /* transform: matrix(2,1,1,2,70,-10); */
  padding:10px;
}
.trans:hover{
  cursor: pointer;
  transition: all 3s linear;
  transform: rotatex(.23turn)
}

.anim{
  border: 4px solid black;
  background-color: rgb(18, 64, 138);
  width: 150px;
  height: 100px;
  margin: 200px auto;
  color: #ffff;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  transition: all 2s ease-in-out; ;
 
}
.anim:hover{
  background-color: red;
  transform: rotate(180deg);
}
.trans2{
  border: 4px solid black;
  background-color: rgb(18, 64, 138);
  width: 150px;
  height: 100px;
  margin: 200px auto;
  color: #ffff;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  transition: all 1000ms ease-in-out; ;
 
}
.opacity{
opacity: 1;
}
.opacity:hover{
  opacity: 0.3;
}
.transcale{
  border: 4px solid black;
  background-color: rgb(18, 64, 138);
  width: 150px;
  height: 100px;
  margin: 100px auto;
  color: #ffff;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;

}
.scale{
  padding: 20px 0
}
.scale:hover{
  transform: scale(1.4);
}
.grow-width{
  border: 4px solid black;
  background-color: rgb(18, 64, 138);
  width: 20%;
  height: 100px;
  margin: 100px auto;
  color: #ffff;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
}
.grow-width:hover{
  width: 100%;
}

.trasla{
  border: 4px solid black;
  background-color: rgb(18, 64, 138);
  width: 5%;
  height: 100px;
  margin: 100px auto;
  color: #ffff;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  transform: translateX(50px);
}
.trasla:hover{
  transform: translateX(80px)
}
.key{
  border: 4px solid black;
  background-color: rgb(18, 64, 138);
  width: 13%;
  height: 100px;
  margin: 100px auto;
  color: #ffff;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  animation: move 2s infinite ease-in-out;
}
.anim-in{
  background-color: rgb(18, 64, 138);
  width: 100px;
  height: 100px;
  margin: 100px auto;
  color: #ffff;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  border-radius: 50%;
  animation : move-left 1s linear;

}
@keyframes move-left{
  from{
    transform: translateX(50vw);
    opacity: 0
  }
  to{
    transform: translateX(0)
  }
}
@keyframes move{
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
